section.section.about
        .container.container--about
          .about__left
            .user
              .ava.user__ava
                +image('content/user.jpg','user-pic')
              ul.user__list
                li.user__list-item
                  .user__type Проживаю:
                  .user__value Новосибирск
                li.user__list-item
                  .user__type Возраст:
                  .user__value 18 лет
                li.user__list-item
                  .user__type Родился:
                  .user__value 24 июля 2001
          .about__right
           .about__info
              .about__info-prolog Привет, меня зовут
              .about__info-name Артем Кремлев
              .about__info-leisure Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
              .about__info-ps Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!