section.section.me
         .decorate-fall
           +image('content/fallen-list.png','list-top')
           +image('content/fallen-list2.png','list-bottom')
         .container.container--me
           .slider
             .slider-control
               .slider-headline Что обо мне говорят
               .slider-btns
                 button.slider-btn.slider-btn--left
                 button.slider-btn
             ul.slider-list
               li.slider-item
                 .slider-item__column
                   .slider-item__icon
                   .slider-item__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                 .slider-item__column
                   .slider-item__ava
                     +image('content/autor2.png','autor')
                   .slider-item__data
                     .slider-item__name Ковальчук Дмитрий
                     .slider-item__rang Основатель Loftschool
               li.slider-item
                 .slider-item__column
                   .slider-item__icon
                   .slider-item__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                 .slider-item__column
                   .slider-item__ava
                     +image('content/autor1.png','autor')
                   .slider-item__data
                     .slider-item__name Владимир Сабанцев
                     .slider-item__rang Преподаватель