section.section.skills
       .hands
        +image('content/hands.png','')
       .container
        .section-skills__content
         .section-skills__info
          .section-skills__how Чем я могу быть полезен вам
          .section-skills__school Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
         .section-skills__skills
          .section-skills__headline Frontend
          ul.section-skills__list
           li.section-skills__item
            .skill-name HTML
            svg.percentage(viewBox='0 0 100 100' preserveAspectRatio='none')
              circle.circle.circle-under(cx='50' cy='50' r='40')
              circle.circle.circle-above(cx='50' cy='50' r='40' style='stroke-dashoffset: 105')
           li.section-skills__item
            .skill-name CSS
            svg.percentage(viewBox='0 0 100 100' preserveAspectRatio='none')
              circle.circle.circle-under(cx='50' cy='50' r='40')
              circle.circle.circle-above(cx='50' cy='50' r='40' style='stroke-dashoffset: 145')
           li.section-skills__item
            .skill-name Javascript
            svg.percentage(viewBox='0 0 100 100' preserveAspectRatio='none')
              circle.circle.circle-under(cx='50' cy='50' r='40')
              circle.circle.circle-above(cx='50' cy='50' r='40' style='stroke-dashoffset: 207')
           li.section-skills__item
            .skill-name jQuery и Vue
            svg.percentage(viewBox='0 0 100 100' preserveAspectRatio='none')
              circle.circle.circle-under(cx='50' cy='50' r='40')
              circle.circle.circle-above(cx='50' cy='50' r='40'  style='stroke-dashoffset: 187')
          .section-skills__headline Workflow
          ul.section-skills__list
            li.section-skills__item
             .skill-name Git
             svg.percentage(viewBox='0 0 100 100' preserveAspectRatio='none')
               circle.circle.circle-under(cx='50' cy='50' r='40')
               circle.circle.circle-above(cx='50' cy='50' r='40' style='stroke-dashoffset: 105')
            li.section-skills__item
             .skill-name Terminal
             svg.percentage(viewBox='0 0 100 100' preserveAspectRatio='none')
               circle.circle.circle-under(cx='50' cy='50' r='40')
               circle.circle.circle-above(cx='50' cy='50' r='40' style='stroke-dashoffset: 145')
            li.section-skills__item
             .skill-name Gulp
             svg.percentage(viewBox='0 0 100 100' preserveAspectRatio='none')
               circle.circle.circle-under(cx='50' cy='50' r='40')
               circle.circle.circle-above(cx='50' cy='50' r='40' style='stroke-dashoffset: 207')
            li.section-skills__item
             .skill-name Webpack
             svg.percentage(viewBox='0 0 100 100' preserveAspectRatio='none')
               circle.circle.circle-under(cx='50' cy='50' r='40')
               circle.circle.circle-above(cx='50' cy='50' r='40'  style='stroke-dashoffset: 187')