.fullscr-btn{
    display: flex;
    flex-direction: column;
    background: transparent;
}
.fullscr-btn__elem{
    margin-bottom: 5px;
    width: 25px;
    height: 4.5px;
    background: white;

    &:last-child{
        margin-bottom: 0;
    }
}
.wrapper__menu{
    position: fixed;
    top: 63px;
    right: 21px;
}