.header__hi{
    display: flex;
    width:100%;
    justify-content: space-around;
    padding-top: 60px;

    @include tablets{
        justify-content: space-between;
    }
}
.logo{
    color: #ffffff;
    font-size: 36px;
    font-weight: 800;
    line-height: 30px;
    text-transform: uppercase;
}
.hi__links{
    @include tablets{
    margin-right: 152px;
    }
}