.navbar__list{
    display: flex;
}
.navbar__item{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-right: 60px;

     &:last-child{
         margin-right: 0;
     }
     &:hover{
         .navbar__link{
            border-bottom: orange 3px solid;
            padding-bottom: 5px;        
         }
     }

     
}