
.hi__content{
    height: 112px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex: 1;
}
.hi-info__name{
    font-size: 72px;
    font-weight: 800;
    line-height: 60px;
}
.hi-info__desc{
    font-size: 18px;
    font-weight: 400;
    opacity: 0.4;
    text-align: right;
    margin-right: 60px;
}
.hi-info__block{
    display: flex;
    max-width: 50rem;
}