section.section.contacts
        .container.container--form
           .contacts__headline Связаться со мной
           form.form
             .form__row
               label.form__label
                 .form__text Введите ваше имя
                 input(type='text',name='name').form__input
                 .form__label-icon
                   +icon('user','form__input-icon','white','30px','26px')
               label.form__label
                 .form__text Введите ваш email
                 input(type='text',name='name').form__input
                 .form__label-icon
                   +icon('envelope','form__input-icon','white','30px','29px')
             .form__row
               label.form__label
                 .form__text Сообщение к письму
                 textarea(type="text").form__textarea
                 .form__label-icon.form__label-icon--textarea
                   +icon('message','form__input-icon','white','30px','29px')
             button.send-btn Отправить
        footer.footer
            .container.container--footer
              .footer__copyright
                .copyright
                  .copyright__yeahr © 2019
                  .copyright__info
                    .copyright__info-name Артем Кремлев
                    .copyright__info-desc Личный сайт вэб разработчика
              .footer__info 
               .footer__menu
                  +nav('footer',['Главная','Обо мне','Навыки','Работы','Отзывы','Связаться'])
               .footer__columns
                .footer__columns-col
                  .footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                  .footer__social
                     ul.social-list
                       li.social-item
                        a(href="#").social-item__link
                          +icon('insta', 'social-icon', 'white', '20px', '20px')
                       li.social-item
                        a(href="https://vk.com/akpemlyov").social-item__link
                          +icon('vk', 'social-icon', 'white', '25px', '25px')
                       li.social-item
                        a(href="https://github.com/ArtemKremlyov/").social-item__link
                          +icon('github', 'social-icon','white', '20px', '20px')
                .footer__columns-col
                  .footer__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                  .footer__autor Martin Golding