header.header.header__hi
            .hi__logo
              .logo ka

            .hi__menu
              nav.navbar
               ul.navbar__list
                li.navbar__item
                  a(href='#') Главная
                li.navbar__item
                  a(href='#') Обо мне
                li.navbar__item
                  a(href='#') Навыки
                li.navbar__item
                  a(href='#') Работы
                li.navbar__item
                  a(href='#') Отзывы
                li.navbar__item
                  a(href='#') Связаться

            .hi__links
              ul.social-list
               li.social-item
                 +icon('insta', 'social-icon', 'white', '25px', '25px')
               li.social-item
                 +icon('vk', 'social-icon', 'white', '31px', '31px')
               li.social-item
                 +icon('github', 'social-icon','white', '23px', '27px')