header.header.header__hi
            .hi__logo
              .logo ka

            .hi__menu
               +nav('header',['Главная','Обо мне','Навыки','Работы','Отзывы','Связаться'])

            .hi__links
              ul.social-list
               li.social-item
                a(href="#").social-item__link
                  +icon('insta', 'social-icon', 'white', '25px', '25px')
               li.social-item
                a(href="https://vk.com/akpemlyov").social-item__link
                  +icon('vk', 'social-icon', 'white', '31px', '31px')
               li.social-item
                a(href="https://github.com/ArtemKremlyov/").social-item__link
                 +icon('github', 'social-icon','white', '23px', '27px')