.hi__content
    .hi-info
      .hi-info__block
         h1.hi-info__desc Личный сайт вэб разработчика
         .hi-info__name Артем Кремлев
a(href='#').scroll
           .scroll__text Скролл
           .scroll__icon
            +icon('scroll','scroll-icon','white','30px','30px')