section.section.reviews(@click="checkArrows" @touchend="checkArrows")
         .container.container--me
           .slider
             .slider__control
                 .slider__headline Что обо мне говорят
                 .slider__btns
                  .circle-btns
                    button.circle-btns__item.circle-btns__item--left(@click="previous" :disabled = "true")
                    button.circle-btns__item.circle-btns__item--right(@click="next" :disabled = "false")
             flickity(ref="flickity" :options="flickityOptions").slider-list
              -for(k=0;k<6;k++)
                li.slider-item
                  .slider-item__column
                    .slider-item__icon
                    .slider-item__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                  .slider-item__column
                    .ava.slider__ava
                      +image('content/autor2.png','autor')
                    .slider-item__data
                      .slider-item__name Ковальчук Дмитрий
                      .slider-item__rang Основатель Loftschool
                