section.section.portfolio
        .container.container--portfolio
            .portfolio__left
                p2.portfolio__headline Мои работы
                 .portfolio__gallery
                  .gallery
                    +image('content/big-prev.png','gallery__bigpict')
                    .portfolio__previews
                      ul.previews
                        li.previews__item.previews__item--active
                          +image('content/mini-prev1.png','previews__img')
                        li.previews__item
                          +image('content/mini-prev1.png','previews__img')
                        li.previews__item
                          +image('content/mini-prev1.png','previews__img')
                        li.previews__item
                          +image('content/mini-prev1.png','previews__img')
                    .gallery__btns
                      .gallery-btns
                        button.gallery-btns__item
                          +icon('short-arrow','gallery-btns__icon','white','10px','8px')
                        button.gallery-btns__item.gallery-btns__item--prev
                          +icon('short-arrow','gallery-btns__icon','white','10px','8px')
            .portfolio__right
              .portfolio__number 2
              .portfolio__tags
                ul.tags
                  li.tags__item HTML
                  li.tags__item CSS
                  li.tags__item Javascript
              .portfolio__info
                .portfolio__info-headline Сайт школы образования
                .portfolio__info-learn Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                a(href='#').iconned-link
                  .iconned-link__icon 
                  .iconned-link__text Посмотреть сайт                 